## Conditional Statements

In [ ]:
#Regular If

age = int(input("Enter your age:"))
if age >= 21:
  print("You are eligible for voting")
else:
  print("You are not eligible for voting")

Enter your age:23
You are eligible for voting

In [ ]:
#If-Else

marks = 70
if marks >=90:
  print("Grade: A")
elif marks >=80:
  print("Grade: B")
elif marks >=70:
  print("Grade: C")
elif marks >=60:
  print("Grade: D")
else:
  print("Grade: F")

Grade: C

In [ ]:
#If-Elif-Else

num = int(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Number is 0")
  else:
    print("Number is positive")
else:
  print("Number is negative")

Enter a number: 0
Number is 0

In [ ]:
num  = int(input("Enter a number:"))

if num > 5:
  if num %2 == 0:
    print("Even number is greater than 5")
  else:
    print("Odd number is greater than 5")
else:
  if num %2 == 0:
    print("Even number is less than 5")
  else:
    print("Odd number is less than 5")

Enter a number:9
Odd number is greater than 5

In [ ]:
is_adult = True
has_voter_id = False

if is_adult or has_voter_id:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are eligible to vote

In [ ]:
#Ternary operator

In [ ]:
color = input("Enter the color: ")
color = color.lower()
match color:
  case 'red':
    print("Stop")
  case "yellow":
    print("Ready")
  case "green":
    print("Go")
  case _:
    print("Invalid color")

Enter the color: RED
Stop

## Loops

### For Loop

In [ ]:
#list

fruits = ["Apple", "Bananas", "Mango"]
for fruit in fruits:
  print(fruit)

Apple
Bananas
Mango

In [ ]:
#string

fruits = 'Apple'
for fruit in fruits:
  print(fruit)

A
p
p
l
e

In [ ]:
#dictionary

fruits = {"Fruit":"Apple", "Car": "Suzuki", "City": "Tokyo"}
for key, value in fruits.items():
  print(f"{key}:{value}")

Fruit:Apple
Car:Suzuki
City:Tokyo

### While Loop

In [ ]:
count = 0
while count <5:
  print(f"Count: {count}")
  count +=1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [ ]:
while True:
  user_input = input("Enter the q letter to exit: ")
  if user_input == "q":
    print()
    break

Enter the q letter to exitq

In [ ]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
  pass

### Loop inside loop

In [ ]:
for i in range(3):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(f"{i} x {j} = {i*j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

### Loop else

In [ ]:
for i in range(5):
  print(i)
else:
  print("Loop completed")

0
1
2
3
4
Loop completed

In [ ]:
#search functionality

num = [1,2,3,4,5]
search = 7

for nums in num:
  if nums == search:
    print(f"Found {search}")
    break
else:
  print(f"{search} not found")

7 not found

## Functions

In [ ]:
def greet(name):
  print(f"Hello, {name} is learning Python language")

greet('Maheen')

Hello, Maheen is learning Python language

In [ ]:
def add(a,b):
  return a+b

print(add(5,3))

8

In [ ]:
def display_info(name, age = 31):
  print(f"Name: {name}, Age: {age}")

display_info(name="Umair", age=32)

Name: Umair, Age: 32

In [ ]:
def my_function():
  pass

result = my_function()
print(result)

None

In [ ]:
#arbitrary arguments

def print_arg(*args):
  for arg in args:
    print(arg)

print_arg(1,2,3)

1
2
3

In [ ]:
#key value argument

def print_kwargs(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(name="Maheen", age=20)

name: Maheen
age: 20

In [ ]:
#lamda function
#one liner function

square = lambda x: x**2
print(square(5))

25