Indentation and Comments

In [2]:
if True:
  print("This is my second class of Python language")

# if True: clt + /
# print("This is my second class of Python language")

This is my second class of Python language

Variables and Constants

In [3]:
name = "Maheen"
age = 20

PI = 3.14159

print("My name is", name)
print("My age is", age)

print(PI)

My name is Maheen
My age is 20
3.14159

Input/Output

In [4]:
name = input("Enter your name: ")
print("My name is", name)

print(type(name))

My name is Maheen
<class 'str'>

Data Types

In [5]:
#primitive
x = 10
y = 10.01
z = 4 + 3j

print("Real number is,", z.real)
print("Imaginary number", z.imag)

Real number is, 4.0
Imaginary number 3.0

In [9]:
#string

sentence = "This is my second class of Python language"
first_letter = sentence[0]
letter_p = sentence[-15]

concat = "Python" + "Language"
print(concat)

repeat = 'Python'*3
print(repeat)

print("Sliced String:",sentence[0:4])
print("Sliced String:",sentence[0:23])

print("Lower case", sentence.lower())
print("Upper case", sentence.upper())

print("replace", sentence.replace("Python", "C++"))

PythonLanguage
PythonPythonPython
Sliced String: This
Sliced String: This is my second class
Lower case this is my second class of python language
Upper case THIS IS MY SECOND CLASS OF PYTHON LANGUAGE
replace This is my second class of C++ language

In [11]:
#collect

numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

print(numbers[:3])

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [12]:
numbers = (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [13]:
#sets

numbers = {1,2,3,4,5}
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

In [15]:
#dictionary

student = {"name": "Maheen"}
print(student)

student['name'] = "Eashah"
print(student)

student['age'] = 21
print(student)

{'name': 'Maheen'}
{'name': 'Eashah'}
{'name': 'Eashah', 'age': 21}

In [16]:
#implicit conversion

num1 = 10
num2 = 10.01
result  = num1 + num2

print(result)
print(type(result))

20.009999999999998
<class 'float'>

In [17]:
#explicit conversion

age = "26"
integer = 10

age = int(age)
# integer = str(integer)
# float(age)
print(type(age))

result = age + integer
print(result)

<class 'int'>
36

Operators

In [18]:
#arithmetic operators

num1 = 10
num2 = 4

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Floor Division", num1 // num2)
print("Modulus", num1 % num2)
print("Exponent", num1 ** num2)

Addition: 14
Subtraction: 6
Multiplication: 40
Division: 2.5
Floor Division 2
Modulus 2
Exponent 10000

In [19]:
#comparison Operation

num1 = 10
num2 = 4

print("Equal", num1 == num2)
print("Not Equal", num1 != num2)
print("Greater than", num1 > num2)
print("Less than", num1 < num2)
# print("Floor Division", num1 // num2)
# print("Modulus", num1 % num2)
# print("Exponent", num1 ** num2)

Equal False
Not Equal True
Greater than True
Less than False

In [20]:
#logical Operators
p = True
q= False

print("AND", p and q)
print("OR", p or q)
print("NOT", not p)

AND False
OR True
NOT False

In [21]:
#assignment Operators
a=10
a+=5 #a=a+5
a-=5 #a=a-5
a*=5 #a=a*5
a/=5 #a=a/5
print(a)

10.0

Length Function

In [22]:
#length Function
sentence = "Python"
print(len(sentence))

6

Split function

In [23]:
#split function
sentence = "Python:language"
print(sentence.split(':'))

['Python', 'language']

Random function

In [24]:
#random function
import random

print(random.randint(1,10))
print(random.random())
print(random.randint(1,10))

items = ['Apple', "Bananas"]
print(random.choice(items))

10
0.11055118944095876
6
Bananas